doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div(class='container-fluid')
      div(class='row')
        div(class='col-sm-2')
          block sidebar
            ul(class='sidebar-nav')
              li 
                a(href='/') Home
              li 
                a(href='/workout/workout-sessions') Workout Sessions
              li 
                a(href='/workout/exercises') Exercises
              li 
                a(href='/workout/equipment') Equipment
              li 
                a(href='/workout/muscle-groups') Muscle Groups
              li 
                a(href='/workout/movement-angles') Movement Angles
              li 
                hr
              li 
                a(href='/workout/workout-session/create') Create Workout Sessions                
              li 
                a(href='/workout/exercise/create') Create Exercise
              li 
                a(href='/workout/equipment/create') Create Equipment
              li 
                a(href='/workout/muscle-group/create') Create Muscle Group
              li 
                a(href='/workout/movement-angle/create') Create Movement Angle
                
        div(class='col-sm-10')
          block content
